﻿@using Europe.Custom_Helpers
@model IEnumerable<Europe.Models.Course>

<h3>@ViewBag.ClassementTitle</h3>

@Ajax.ImageAjaxActionLink(
    @Url.Action("Get", "Img", new { id = @ViewBag.GeneralImgId }), // imageUrl
    "TopLeadersGeneral", // actionName
    null, // routeValues
    new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "TopLearnerContainer",
    },
    new { @class = "imgCont60 img-circle" },
    null
    )

@foreach (var item in Model)
{
    @Ajax.ImageAjaxActionLink(
    @Url.Action("Get", "Img", new { id = item.ImgId }), // imageUrl
    "FilterByCourse", // actionName
    new { courseId = item.Id }, // routeValues
    new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "TopLearnerContainer",
    },
    new { @class = "imgCont60 img-circle"},
    null
    )
}

