﻿@using Europe.Custom_Helpers
@model IEnumerable<Europe.Models.Student>

<h3>@ViewBag.ClassementTitle</h3>

@{
    int pos = 1;

    foreach (var item in Model)
    {
        <div class="row flex TopLearnerRow @item.CssClass">

            <div class="col-md-1 col-sm-1">@pos.ToString()</div>

            <div class="img120 col-md-2 col-sm-2">

                @Html.ImageActionLink(
                 @Url.Action("Get", "Img", new { id = item.ImgId }),
                 "Get",
                 "Student",
                 new { id = item.Id },
                 new { @class = "img-circle maxW90" },
                 null,
                 null,
                 null
                )

                @*<img class="img-circle maxW90" src="@Url.Action("Get", "Img", new { id = item.ImgId })" />*@
            </div>

            <div class="col-md-6">@Html.DisplayFor(modelItem => item.User.Name)</div>

            <div class="col-md-4 col-sm-1">@item.TotalPoints points</div>
        </div>
        pos = pos + 1;
    }
}
