﻿@using Europe.Custom_Helpers
@model IEnumerable<Europe.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Par cours</h2>
<hr />

@Html.Action("CourseFilterMenu")

@*@Html.HiddenFor(model => model.RoleType)*@

<div id="TopLearnerContainer">

    <h3>@ViewBag.ClassementTitle</h3>

    @{
        int pos = 1;

        foreach (var item in Model)
        {
            <div class="row flex TopLearnerRow @item.CssClass">

                <div class="col-md-1 col-sm-1">@pos.ToString()</div>

                <div class="img120 col-md-2 col-sm-2">
                    @Html.ImageActionLink(
                     @Url.Action("Get", "Img", new { id = item.ImgId }),
                     "Get",
                     "Student",
                     new { id = item.Id },
                     new { @class = "img-circle maxW90" },
                     null,
                     null,
                     null
                    )
                </div>

                <div class="col-md-6">@Html.DisplayFor(modelItem => item.User.Name)</div>

                <div class="col-md-4 col-sm-1">@item.TotalPoints points</div>
            </div>

            pos = pos + 1;
        }
    }
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryunobtrusive")

