﻿@using Europe.Custom_Helpers
@model Europe.Models.Course


@foreach (var item in Model.Chapters)
{
    <div class="ChaptersContent @item.CssClass">
        @Ajax.ImageAjaxActionLink(
            string.Format("{0}", @Url.Action("Get", "Img", new { id = item.ImgId })),   // imageUrl
            "Chapter",                                                                  // actionName
            new { chapterId = item.Id },                                                // routeValues
            new AjaxOptions                                                             // ajaxOptions
            {
                UpdateTargetId = "LearnContent", // <-- DOM element ID to update
                InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                HttpMethod = "GET", // <-- HTTP method
                OnSuccess = "ChapterInfoInHeader('" + item.Id + "')",
            },
            new { @class = "img-circle maxW90" },                                              // htmlAttributes
            string.Format("{0}", item.Title)                                            // chapterTitle into <span>
        )
    </div>
}
