﻿@using Europe.Custom_Helpers
@model Europe.Models.Chapter


<div id="LessonsContainer">
    @foreach (var item in Model.Lessons)
    {

        <div class="Lessonitems">
            @Ajax.ImageAjaxActionLink(
                string.Format("{0}", @Url.Action("Get", "Img", new { id = item.ImgId })),    // imageUrl
                "Lesson",                                                                    // actionName
                new { lessonId = item.Id },                                                  // routeValues
                new AjaxOptions                                                              // ajaxOptions
                {
                    UpdateTargetId = "LearnContent", // <-- DOM element ID to update
                    InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                    HttpMethod = "GET", // <-- HTTP method
                    OnSuccess = "LessonInfoInHeader('" + item.Id + "')",
                },
                null,                                               // htmlAttributes
                string.Format("{0}", @item.Title)                                            // title into <span>
            )
        </div>
    }
</div>


<script>
    function LessonInfoInHeader(data) {
        $.ajax({
            type: "POST",
            url: "/Course/LessonInfoMenu",
            data: '{lessonId: "' + data + '" }',
            contentType: "application/json; charset=utf-8", // Demander explication pour le ContentTYpe
            dataType: "text",
            success: function (response) {
                $(".titlesCont").append("<h4>" + response + "</h4>");
            }
        })
    }

</script>


