﻿@using Europe.Custom_Helpers 
@model Europe.Models.Chapter

<div id="ChapterTitlewithImage">
    <div class="imgCont60">
        <img class="img-circle" src="@Url.Action("Get", "Img", new { id = Model.ImgId })" />
    </div>
    <div class="titlesCont row flex">
        @Ajax.HeadingAjaxActionLink(
        Model.Title, 
        "ChaptersPartialViews", 
        new { courseId = Model.CourseId },
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "LearnContent",
            OnSuccess = "CourseInfoHeader('" + Model.CourseId + "')",
        },
        new { @class = "BackToCourseLink"},
        3
        )
    </div>
</div>

