﻿@model Europe.Models.Course

<div>
    <h4>Course</h4>
    <hr />
    <div>
        <p>@Html.DisplayFor(model => model.Title)</p>
        <p>@Html.DisplayFor(model => model.Description)</p>
        <p>@Html.DisplayFor(model => model.Level)</p>
        @Html.Action("DisplayImg", "Img", new { imgId = Model.ImgId })
        @Html.DisplayNameFor(model => model.Chapters)
        <div id="chapters" class="form-group" style="display:none">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Chapters, htmlAttributes: new { @class = "control-label col-md-2" })
                @foreach (var item in Model.Chapters)
                {
                    <ul>
                        <li>
                            @Html.DisplayFor(modelItem => item.Title)
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
