﻿@model Europe.Models.Lesson

<div id="lessonMenu" class="container">
    <div class="row flex">
        <ul id="lessonsList">
            @foreach (var item in Model.Pages)
            {
                <li>                    
                    @Ajax.ActionLink(
                    "Link", 
                    "Page", 
                    new { pageId = item.Id }, 
                    new AjaxOptions
                        {
                            UpdateTargetId= "pageContent", // <-- DOM element ID to update
                            InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                            HttpMethod = "GET" // <-- HTTP method
                        })
                </li>
            }
        </ul>
    </div>
</div>

<div id="pageContent">
    @Html.Raw(Model.Pages.Select(c => c.Content).FirstOrDefault());
</div>



