﻿@model Europe.Models.Course

@{
    ViewBag.Title = "CourseDetails";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
@Html.ActionLink("<-- Retour à la liste des cours", "Index")
<hr />

@Html.HiddenFor(model => model.Id)

<div class="container">
    <div class="courseDetailCourseItem">

        <div id="courseDetailCourseAvatar">
            <img class="img-circle" src="@Url.Action("Get", "Img", new { id = Model.ImgId })" />
        </div>

        <div class="col-md-6 col-sm-12">
            <h3>@Html.DisplayFor(modelItem => Model.Title)</h3>
            <p>@Html.DisplayFor(modelItem => Model.Description)</p>
            @if (ViewBag.StudentCourseCount == 1)
            {
                @Html.ActionLink("Ouvrir le cours", "Learn", "Course", new { courseId = Model.Id, @ViewBag.Bookmark }, new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("S'inscrire au cours", "TakeUp", "Course", new { courseId = Model.Id }, new { @class = "btn btn-default" })
            }
        </div>
    </div>

    <div class="courseContent col-md-6 col-sm-12">
        @foreach (var chap in Model.Chapters)
        {
            <p class="courseDetailChapterTitle">Chapitre @Html.DisplayFor(modelItem => chap.Num) : @Html.DisplayFor(modelItem => chap.Title)</p>

            foreach (var lesson in chap.Lessons)
            {
                <p class="courseDetailLessonTitle">@Html.DisplayFor(modelItem => lesson.Num). @Html.DisplayFor(modelItem => lesson.Title)</p>
            }
        }
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
