﻿@using Europe.Custom_Helpers
@model IEnumerable<Europe.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>Cours</h2>
<hr />

<div class="container flex">
    <div id="coursesItemsContainer" class="row flex">
        @foreach (var item in Model)
        {
            <div class="courseItem col-sm-12 col-md-6 flex">

                <div class="homeAvatarCourse">
                    <div id="courseItemImgCont">
                        <img class="img-circle" src="@Url.Action("Get", "Img", new { id = item.ImgId })" />
                    </div>
                    <div id="homeCoursesDetails" class="flexCol">
                        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                        <p>@Html.Post(item.Description)</p>
                    </div>
                </div>

                <div id="courseCTA">
                    @Html.ActionLink("Voir le cours", "CourseDetails", new { courseId = item.Id }, new { @class = "btn btn-default" })
                </div>


                <div id="homeCoursesStats" >
                    <ul>
                        <li>Etudiants</li>
                        <li>Lessons</li>
                        <li>Quizzes</li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    // Placement d'une Id à la page
    $(document).ready(function () {
        $("body").attr("id", "courses");
    })
</script>

