﻿@using Europe.Custom_Helpers 
@model Europe.Models.Course

@{
    ViewBag.Title = "Learn";
}

@*Affichage du menu avec titre du cours et liste des chapitre*@

<div id="LearnCourseHeader" class="row">
    <div id="coursePrimaryTitle">
        <div class="learnCourseTitle">
            <h2>@Html.DisplayFor(model => model.Title)</h2>
        </div>
        <div class="points">
            Pts
        </div>
        <div class="pointsCircle">
            <div class="circle-content">@ViewBag.StudentPoints</div>
        </div>
    </div>
    <hr id="endMenu" />
</div>


<div id="LearnContent" class="row flex">
    @foreach (var item in Model.Chapters)
    {
        <div class="ChaptersContent @item.CssClass">
            @Ajax.ImageAjaxActionLink(
                string.Format("{0}", @Url.Action("Get", "Img", new { id = item.ImgId })),   // imageUrl
                "Chapter",                                                                  // actionName
                new { chapterId = item.Id },                                                // routeValues
                new AjaxOptions                                                             // ajaxOptions
                {
                    UpdateTargetId = "LearnContent", // <-- DOM element ID to update
                    InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                    HttpMethod = "GET", // <-- HTTP method
                    OnSuccess = "ChapterInfoInHeader('" + item.Id + "')",
                },
                new { @class = "img-circle maxW90" },                                              // htmlAttributes
                string.Format("{0}", item.Title)                                            // chapterTitle into <span>
            )
        </div>
    }
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Scripts.Render("~/bundles/jqueryui")


<script>

    // Placement d'une Id à la page
    $(document).ready(function () {
        $("body").attr("id", "learn");
    })

    function ChapterInfoInHeader(data) {
        $.ajax({
            type: "POST",
            url: "/Course/ChapterInfoMenu",
            data: '{chapterId: "' + data + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $(".learnCourseTitle").replaceWith(response);
            }
        })
    }

    function CourseInfoHeader(data) {
        $.ajax({
            type: "POST",
            url: "/Course/CourseInfoMenu",
            data: '{courseId: "' + data + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",            
            success: function (response) {
                var tag = '<div class="learnCourseTitle"><h2>';
                var closeTag = '</h2></div>';
                $("#ChapterTitlewithImage").replaceWith(tag + response + closeTag);
            }
        })
    }

</script>


