﻿@using Europe.Custom_Helpers;
@using Europe.Utils
@model Europe.Models.Student

@{
    ViewBag.Title = "Get";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="img150"><img class="img-circle maxW90" src="@Url.Action("Get", "Img", new { id = Model.ImgId })" /></div>
        </div>
        <div class="col-md-3">
            <h2>@Html.DisplayFor(model => model.User.Name)</h2>
            <p>Points : @ViewBag.StudentPoint</p>

             @if (UserSession.User != null && UserSession.User.Id == Model.User.Id)
              {
                @Html.ActionLink("Editer le profil", "Update", "Student", new { id = Model.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Se déconnecter", "Disconnect", "Account", null, new { @class = "btn btn-default" })
              }
        </div>
    </div>
</div>

<hr />

<h3>Cours</h3>
<div class="container-fluid">
    <div id="studentCourses" class="row flex ">
        @if (UserSession.User != null && UserSession.User.Id == Model.User.Id)
        {
            if (Model.StudentCourses.Count() > 0)
            {
                foreach (var item in Model.StudentCourses)
                {
                    <div class="courseContainer row">
                        <div id="studentCoursesImg">
                            @Html.ImageActionLink(
                                string.Format("{0}", @Url.Action("Get", "Img", new { id = item.CourseImgId })), // imageUrl
                                "Learn", // actionName
                                "Course", // controller
                                new { courseId = item.CourseId }, // routeValues
                                new { @class = "img-circle maxW90" }, // htmlAttributes
                                string.Format("{0}", item.CourseTitle), // htmlAttributes
                                string.Format("{0}", item.CourseTitle), // htmlAttributes
                                null
                            )
                        </div>
                        <p>@Html.DisplayFor(modelItem => item.Points)</p>
                    </div>
                }
            }
            else
            {
                <p>Tu n'es inscrit à aucun cours, @Html.ActionLink("visite les cours disponibles", "Index", "Course")</p>
            }
        }
        else
        {
            if (Model.StudentCourses.Count() > 0)
            {
                foreach (var item in Model.StudentCourses)
                {
                    <div class="courseContainer row">
                        <div id="studentCoursesImg">
                            @Html.ImageActionLink(
                            string.Format("{0}", @Url.Action("Get", "Img", new { id = item.CourseImgId })), // imageUrl
                            "CourseDetails", // actionName
                            "Course", // controller
                            new { courseId = item.CourseId }, // routeValues
                            new { @class = "img-circle maxW90" }, // htmlAttributes
                            string.Format("{0}", item.CourseTitle), // htmlAttributes
                            string.Format("{0}", item.CourseTitle), // htmlAttributes
                            null
                        )
                        </div>
                        <p>@Html.DisplayFor(modelItem => item.Points)</p>
                    </div>
                }
            }
            else
            {
                <p>L'étudiant n'est inscrit à aucun cours ! Pour l'instant ...</p>
            }
        }
    </div>
</div>

<hr />

<h3>Certificats</h3>
<div id="studentCertificates">

</div>
<hr />

<h3>Badges</h3>
<div id="studentBadges">
    @foreach (var item in Model.StudentBadges)
    {
        @Html.DisplayFor(modelItem => item.Badge.Title)
        <div class="img150"><img class="img-circle maxW90" src="@Url.Action("Get", "Img", new { id = item.Badge.ImgId })" /></div>
        <p>Obtenu le @Html.DisplayFor(modelItem => item.Date)</p>
    }
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")