﻿@model Europe.Models.StudentUpdateForm

@{
    ViewBag.Title = "Update";
}

<h2>Modifie ton profil</h2>

@using (Html.BeginForm("Update", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div id="updateStudentForm" class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ImgId)
    @Html.HiddenFor(model => model.UserId)

    <div id="avatarArea" class="img150">
        @Html.Action("DisplayImg", "Img", new { imgId = Model.ImgId })
        @Html.ActionLink("Supprimer l'avatar", "DeleteAvatar", "Img", new { imgId = Model.ImgId, userId = Model.UserId }, new { @class = "deleteAvatar" })
    </div>   

    <div class="form-group">
        <div id="changeAvatarArea">
            <input type="file" class="form-control-file" id="File" name="File" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="changePwdLink">
        @Html.CheckBoxFor(model => model.IsFlagSet)
        <label for="IsFlagSet">Modifier le mot de passe</label>
    </div>

    <div id="pwdFormContainer">
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CurrentPwd, htmlAttributes: new { placeholder = "Ton mot de passe actuel", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CurrentPwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NewPwd, htmlAttributes: new { placeholder = "Ton nouveau mot de passe", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPwd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ConfirmPwd, htmlAttributes: new { placeholder = "Confirme ton nouveau mot de passe", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPwd, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Valider" class="btn btn-default" />
        </div>
    </div>
</div>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")

<script>

    // Sauvegarde du HTML de la vue partielle chargée d'affichier l'avatar via Html.Action("DisplayImg")
    const partialAvatarArea = $("#avatarArea").html();

    $(document).ready(function () {

        // Input type File
        // Quand l'utilisateur upload une image, on lit le fichier et on ajoute un bouton annuler

        $("#File").change(function () {
            var File = this.files;
            if (File && File[0]) {
                ReadImage(File[0]);
            }
            if ($("#resetAvatar").length) {
                // on ne fait rien
            }
            else
            {
                $("#avatarArea").append('<a href="#" onclick="ClearPreview()" id="resetAvatar">Annuler</a>');
            }
        })

        // Html.ActionLink("DeleteAvatar) Ajaxify
        // Quand l'utilisateur souhaite supprimer son avatar et revenir à l'avatar par défaut
        $(".deleteAvatar").click(function () {
            if (confirm('Are you sure?')) {
                if ($("#ImgId").val() == 2) {
                    alert("on ne peut pas supprimer l'avatar par défaut");
                }
                else
                {
                    $.ajax({
                        url: this.href,
                        type: 'POST',
                        context: this,
                        success: function (result) {
                            //$(this).closest('div').remove();
                            $('#avatar').attr('src', 'Get/Img/' + result.Id);
                            $('#avatar').attr('alt', result.Alt);
                            alert('ça marche')
                        }
                    });
                }
            }
            return false;
        })

    })

    // Input type File
    // Fonction pour lire le fichier

    var ReadImage = function (file) {

        // Création d'un reader et d'une image
        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);

        // Au chargement on récupère l'image chargée pour l'insérer en mode preview et on supprime les anciens attributs 

        reader.onload = function (_file) {
            image.src = _file.target.result;
            image.onload = function () {
                $("#avatarArea").empty();
                $('#avatarArea').append('<img id="avatar"/>');
                $("#avatar").attr('src', _file.target.result);
                $("#avatarArea").append('<a href="#" onclick="ClearPreview()" id="resetAvatar">Annuler</a>');
            }
        }
    }

    // Input type File
    // On remet les informations de l'ancienne image si le user annule 
    var ClearPreview = function (e) {
        event.preventDefault();
        $("#avatarArea").empty();
        $("#avatarArea").html(partialAvatarArea);
        $("#File").val('');
    };
</script>
