﻿@model Europe.Models.Student.StudentUpdateForm

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm("Update", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>StudentUpdateForm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.ImgId)

        <div class="removeImage">Supprimer l'avatar</div>

        @Html.TextBoxFor(model => Model.File, new { type = "file" })
        @Html.ValidationMessageFor(model => Model.File)

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="changePwdLink">
            @Html.CheckBoxFor(model => model.IsFlagSet)
            <label for="IsFlagSet">Modifier le mot de passe</label>
        </div>

        <div id="pwdFormContainer">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CurrentPwd, htmlAttributes: new { placeholder = "Ton mot de passe actuel", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CurrentPwd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.NewPwd, htmlAttributes: new { placeholder = "Ton nouveau mot de passe", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPwd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ConfirmPwd, htmlAttributes: new { placeholder = "Confirme ton nouveau mot de passe", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPwd, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="changePwdBody"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<!-- For unobtrusive-ajax && For validate and validate-unobtrusive -->
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/Custom")

}


