.courseContainer{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    align-items: center;
}

#studentCourses{
    margin-left: 5em;
}

#imgTest{
    width: 80px;
}

#imgTest img{
    width: 100%;
    border-radius:50%;
}

#heady{
    border: 2px solid red;
    width:80%;
    margin:auto;
    align-items: center;
}

#points{
    text-align: right;
    border: 1px solid blue;
}

#learnCourseTitle{
    border: 1px solid green;
    flex-direction: column;
    
}

.img-circle {
    width: 80%;
    background-color: #BDBDBD;
}

#lessonsContent a
{
    display: flex;
    flex-direction: column;
}

.company{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
    background-size: cover;
    background-position: center center;
}

.img150{
    width:100px;
}

#LearnContent{
    margin-top: 20px;
    margin-left: 20px;
}

#LearnContent a{
    flex-direction: column;
    align-items: center;
    width: 150px;
    border: 1px solid black;
    display: flex;
}

#LearnContent div{
    justify-content: center;
}

.flex{
    display: flex; 
    flex-wrap: wrap;
}
.courseItem{
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    margin-bottom: 15px;
    margin: 7px;
    padding: 10px;
}

.col-6{
    flex: 0 0 45%;
    max-width: 45%;
}

.homeAvatarCourse{
    flex-wrap: nowrap;
}

.courseItem a{
    text-align:left;
    text-align: right;
    padding: 5px 5px 10px 0;
}

#caca{
    display:flex;
    flex-direction: column;
}

#caca h3 {
    font-size: 1.3rem
}

#caca p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

#imgLogo img{
    border-radius: 50%;
}

#listing{
    border-top: 1px solid grey;
}

#listing ul{
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}
#listing li {
    display: inline-block;
    width: 30%;
}

@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        max-width: 48%;
    }
}
