﻿@model Europe.Models.Course

@{
    ViewBag.Title = "AddCourse";
}

<h2>Ajouter un cours</h2>
<hr />
@Html.ActionLink("<-- Retour à la liste des cours", "Courses", null, new { @class = "navLink" })

@using (Html.BeginForm("AddCourse", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formX" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Level, new SelectList(Model.Levels), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImgId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div id="avatarCourse">
                <div id="imgArea" class="img150" style="display:none">
                    <img id="targetImg" class="img-circle" />
                    <a href="#" onclick="ClearPreview()">Annuler</a>
                </div>
                <div id="currentImg" class="img150">
                    <img class="img-circle" src="@Url.Action("Get", "Img", new { id = Model.ImgId })" />
                    @*@Html.Action("DisplayImg", "Img", new { imgId = Model.ImgId })*@
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div id="uploadImgArea" class="col-md-offset-2 col-md-10">
            <input type="file" class="form-control-file" id="File" name="File" />
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Valider" class="btn btn-default" />
    </div>
</div>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")

<script>

    const defaultImg = $("#currentImg").html();

    $(document).ready(function () {

        // Input type File
        // Quand l'utilisateur upload une image, on lit le fichier et on ajoute un bouton annuler

        $("#File").change(function () {
            var File = this.files;
            if (File && File[0]) {
                ReadImage(File[0]);
            }
        })
    })

    var ReadImage = function (file) {

        // Création d'un reader et d'une image
        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);

        // Au chargement on récupère l'image chargée pour l'insérer en mode preview et on supprime les anciens attributs
        reader.onload = function (_file) {
            $("#currentImg").hide();
            image.src = _file.target.result;
            image.onload = function () {
                $("#targetImg").attr('src', _file.target.result);
                $("#imgArea").show();
            }
        }
    }

    var ClearPreview = function () {
        $("#File").val('');
        $("#targetImg").removeAttr('src');
        $("#imgArea").hide();
        $("#currentImg").show();
    };

</script>