﻿@model Europe.Models.Lesson

@{
    ViewBag.Title = "AddLesson";
}

<h2>@ViewBag.CourseTitle</h2>
<hr />

<h3>Chapitre @ViewBag.ChapterNum - @ViewBag.ChapterTitle : Ajouter la leçon @Html.DisplayFor(model => model.Num)</h3>

@Html.ActionLink("<-- Retour au chapitre", "ChapterDetails", new { chapterId = @ViewBag.ChapterId, courseId = @ViewBag.CourseId }, new { @class = "navLink" })


@using (Html.BeginForm("AddLesson", "Admin", null, FormMethod.Post, new { @class = "formX" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ChapterId)
    @Html.HiddenFor(model => model.Num)
    <input type="hidden" name="CourseId" value="@ViewBag.courseId" />

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
