﻿@model Europe.Models.Chapter

@{
    ViewBag.Title = "AddorUpdateChapter";
}

<h2>@ViewBag.CourseTitle</h2>

@using (Html.BeginForm("AddorUpdateChapter", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h4>Ajouter ou mettre à jour un chapitre</h4>

        @Html.HiddenFor(model => model.CourseId)
        @Html.HiddenFor(model => model.Active)
        @Html.HiddenFor(model => model.Deleted)

        <div class="form-group">
            @Html.LabelFor(model => model.Num, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Num, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Num, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImgId, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div id="avatarCourse">
            <div id="imgArea" class="thumbnail" style="display:none">
                <img class="img-responsive" id="targetImg" />
                <a href="#" onclick="ClearPreview()">Annuler</a>
            </div>
            <div id="currentImg">
                @Html.Action("DisplayImg", "Img", new { imgId = Model.ImgId })
            </div>
        </div>

        <div class="form-group">
            <div id="uploadImgArea" class="col-md-offset-2 col-md-10">
                <input type="file" class="form-control-file" id="File" name="File" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.Action("CourseItemInsideMainView", "Course", new { id = Model.CourseId })

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")

<script>

const defaultImg = $("#currentImg").html();

$(document).ready(function () {

    // Input type File
    // Quand l'utilisateur upload une image, on lit le fichier et on ajoute un bouton annuler

    $("#File").change(function () {
        var File = this.files;
        if (File && File[0]) {
            ReadImage(File[0]);
        }
    })

    // Input type File
    // Fonction pour lire le fichier
})

var ReadImage = function (file) {

    // Création d'un reader et d'une image
    var reader = new FileReader;
    var image = new Image;

    reader.readAsDataURL(file);

    // Au chargement on récupère l'image chargée pour l'insérer en mode preview et on supprime les anciens attributs

    reader.onload = function (_file) {
        $("#currentImg").html("");
        image.src = _file.target.result;
        image.onload = function () {
            $("#targetImg").attr('src', _file.target.result);
            //var size = ~~(file.size / 1024);
            //$("#Taille").val(size);
            $("#imgArea").show();
        }
    }
}

// Html.ActionLink("GetImgJson") du Controller "Img" Ajaxified
// Quand l'admin souhaite modifier une image existante, les données sont affichées pour éventuelle modification
$("#updateExistingImg a").click(function (e) {
    e.preventDefault();
    $("#File").val('');
    $.ajax({
        url: this.href,
        type: 'GET',
        context: this,
        success: function (result) {
            $('#ImgId').val(result.Id);
            $("#Name").val(result.Name);
            $("#Title").val(result.Title);
            $("#Alt").val(result.Alt);
            $("#Caption").val(result.Caption);
            $("#IsAdmin").val(result.IsAdmin);
            $("#Taille").val(result.Size);
            $("#targetImg").attr('src', "@Url.Action("get", "img")/" + result.Id); // le controller admin prenait le dessus !!!! comment changer ça?
            $("#imgArea").show();
        }
    })
    return false;         // TODO : le return false semble faire fonctionner l'ajax dans le sens que la réponse n'ouvre pas une nouvelle fenêtre


    //$("#targetImg").removeAttr('src');
    //if ($("#imgArea").is(':visible')) {
    //    $("#imgArea").hide();
    //}
    //$("#Size").val(result.Size);
    //$("#imgAreaUpdate").show();
});

var ClearPreview = function () {
    $("#File").val('');
    $("#targetImg").removeAttr('src');
    $("#imgArea").hide();
    $("#currentImg").append(defaultImg);
    //$("#File").val('');
    //$("#imgArea").hide();
    //$('#ImgId').val('');
    //$("#Name").val('');
    //$("#Title").val('');
    //$("#Alt").val('');
    //$("#Caption").val('');
    //$("#IsAdmin").val('');
    //$("#Taille").val('');
};

</script>
