﻿@model Europe.Models.Page

@{
    ViewBag.Title = "AddPage";
}

<script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript" language="javascript"></script>

<h2>@ViewBag.CourseTitle</h2>
@Html.ActionLink("<-- Retour à la leçon", "LessonDetails", new { lessonId = @ViewBag.lessonId, courseId = @ViewBag.CourseId }, new { @class = "navLink" })
<hr />

<h3>Chapitre @ViewBag.ChapterNum - Leçon @ViewBag.LessonNum : page @Html.DisplayFor(model => model.Num)</h3>

@using (Html.BeginForm("AddPage", "Admin", new { courseId = @ViewBag.CourseId }, FormMethod.Post, new { @class = "formX" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.LessonId)
    @Html.HiddenFor(model => model.ChapterId)
    @Html.HiddenFor(model => model.Num)

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextArea("Content", null, new { @id = "editor1", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
        <script>
            CKEDITOR.replace('editor1').config.allowedContent = true;
        </script>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsQuizz, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsQuizz)
                @Html.ValidationMessageFor(model => model.IsQuizz, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <input type="submit" value="Valider" class="btn btn-default" />
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
