﻿@model Europe.Models.Page

@{
    ViewBag.Title = "AddQuizz";
}

<h2>@ViewBag.CourseTitle</h2>
@Html.ActionLink("<-- Retour à la leçon", "LessonDetails", new { lessonId = @ViewBag.lessonId, courseId = @ViewBag.CourseId }, new { @class = "navLink" })
<hr />

<h3>Chapitre @ViewBag.ChapterNum - Leçon @ViewBag.LessonNum : page @Html.DisplayFor(model => model.Num) (Quizz)</h3>


@using (Html.BeginForm("AddQuizz", "Admin", new { courseId = @ViewBag.CourseId }, FormMethod.Post, new { @class = "formX" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.LessonId)
    @Html.HiddenFor(model => model.ChapterId)
    @Html.HiddenFor(model => model.Num)
    @Html.HiddenFor(model => model.IsQuizz)

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <p class="control-label col-md-2">Question : </p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Content, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.QuizzFields, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="quizzArea">
        @Html.Action("AddQuizzItem", "Admin", new { pageId = Model.Id })
    </div>

    @Ajax.ActionLink("Ajouter une proposition", "AddQuizzItem",
    new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.InsertAfter,
        UpdateTargetId = "quizzArea",
    })

    <input type="submit" value="Valider" class="btn btn-default" />
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
