﻿@model Europe.Models.Chapter

@{
    ViewBag.Title = "ChapterDetails";
}

<h2>@ViewBag.CourseTitle</h2>
@Html.ActionLink("<-- Retour au cours", "CourseDetails", "Admin", new { id = Model.CourseId }, new { @class = "navLink" })
<hr />

<div id="titleWithMenu" class="container">
    <div class="row flex">
        <div class="col-md-3 flex">
            <h3>Chapitre @Html.DisplayFor(model => model.Num)</h3>
        </div>
        <div class="col-md-2 flex">
            <ul>
                <li><a class="navLink" href="@Url.Action("EditChapter", "Admin", new { chapterId = Model.Id, courseId = Model.CourseId })"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li><a class="navLink" href="@Url.Action("DeleteChapter", "Admin", new { chapterId = Model.Id })"><span class="glyphicon glyphicon-trash"></span></a></li>
            </ul>
        </div>
    </div>
</div>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.CourseId)

<div id="viewBagAddChapter" class="viewBag">
    @ViewBag.AddChapter
</div>

<div class="container">

    <p>@Html.DisplayFor(model => model.Title)</p>

    <div class="img120" >
        <img class="img-responsive img-circle" src="@Url.Action("Get", "Img", new { id = Model.ImgId })" />
    </div>

    <hr class="hr50" />

    <div id="viewBagAddLesson" class="viewBag">
        @ViewBag.AddLesson
    </div>

    @if (Model.Lessons.Count() == 0)
    {
    <section class="sectionContainer">
        <h4>Leçons</h4>
        <p>Il n'y a aucune leçon dans ce chapitre, ajoutez en...</p>
    </section>
    }
    else
    {
    <section class="sectionContainer">
        <h4>Leçons</h4>
        <table id="lessonList" class="table table-responsive">
            <thead>
                <tr class="ui-state-default">
                    <th>Ordre</th>
                    <th>Num</th>
                    <th>Titre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Lessons)
                {
                    <tr id="lessonOrder_@Html.DisplayFor(modelItem => item.Id)" class="ui-state-default">
                        <td><span class="glyphicon glyphicon-move"></span></td>
                        <td>@Html.DisplayFor(modelItem => item.Num)</td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td><a class="navLink" href="@Url.Action("LessonDetails", "Admin", new { lessonId = item.Id, courseId = Model.CourseId })"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                        <td><a class="navLink" href="@Url.Action("EditLesson", "Admin",  new { lessonId = item.Id, courseId = Model.Id })"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a class="navLink" href="@Url.Action("DeleteLesson", "Admin", new { chapterId = item.Id, courseId = Model.Id })"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="validateOrder" style="display:none">
            <input id="validateOrderBtn" type="submit" value="Valider le tri" class="btn btn-default" />
        </div>
        <div id="viewBagLessonsOrder" class="viewBag" style="display:none">
            <p>L'ordre des leçons a été modifié</p>
        </div>
    </section>
    }

    @Html.ActionLink("Ajouter une Lesson", "AddLesson", new { chapterId = Model.Id, courseId = Model.CourseId }, new { @class = "btn btn-default" })

</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Scripts.Render("~/bundles/jqueryui")


<script type="text/javascript">

    $(document).ready(function () {

        // Placement d'une Id à la page
        $("body").attr("id", "adminChapterDetails");

        // Gestion de l'affichage du viewbag s'il existe
        if ($("#viewBagAddLesson").text()) {
            $("#viewBagAddLesson").show();
            setTimeout(fade_out_viewBagAddLesson, 5000);
        }
        else {
            $("#viewBagAddLesson").hide();
        }

        if ($("#viewBagAddChapter").text()) {
            $("#viewBagAddChapter").show();
            setTimeout(fade_out_viewBagAddChapter, 5000);
        }
        else {
            $("#viewBagAddChapter").hide();
        }

        $("#lessonList tbody").sortable({
            update: function (event, ui) {
                $("#validateOrder").show();
                $("#lessonList tbody").each(function () {
                    $(this).children().each(function (index) {
                        $(this).find('td:nth-child(2)').html(index + 1)
                    });
                });
            }
        });

        // jquery UI 
        $(function () {
            $("#validateOrderBtn").click(function () {
                var idsInOrder = $("#lessonList tbody").sortable("toArray");
                var finalval = JSON.stringify(idsInOrder);
                console.log(finalval);
                $.ajax({
                    url: '/Admin/SortLessonList/',
                    data: JSON.stringify(idsInOrder),
                    type: 'post',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function () {
                        $("#validateOrderBtn").hide();
                        $("#viewBagLessonsOrder").show();
                    }
                });
            });
        });
    });

    // Fonction liées aux ViewBag Display
    var fade_out_viewbagLessonsOrder = function () {
        $("#viewBagLessonsOrder").fadeOut().hide();
    }

    var fade_out_viewBagAddLesson = function () {
        $("#viewBagAddLesson").fadeOut().empty();
    }

    var fade_out_viewBagAddChapter = function () {
        $("#viewBagAddChapter").fadeOut().empty();
    }

</script>

