﻿@model IEnumerable<Europe.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>Administration</h2>
@Html.ActionLink("<-- Retour à l'administration", "Index")
<hr />

<h3>Gestion des cours</h3>

<table id="courseListTab" class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate, "NoDateValue")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate, "NoDateValue")
            </td>
            <td>
                @*<div class="imgIconTable">
                        @Url.Action("DisplayImg", "Img", new { imgId = item.ImgId })
                    </div>*@
                <div class="imgIconTable">
                    <img class="img-responsive img-circle" src="@Url.Action("Get", "Img", new { id = item.ImgId })" />
                </div>
            </td>
            <td>
                <a class="navLink" href="@Url.Action("CourseDetails", "Admin",  new { id = item.Id })"><span class="glyphicon glyphicon-eye-open"></span></a>
            </td>
            <td>
                <a class="navLink" href="@Url.Action("EditCourse", "Admin", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
            <td>
                <a class="navLink" href="@Url.Action("DeleteCourse", "Admin", new { id = item.Id })"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Ajouter un cours", "AddCourse", null, new { @class = "btn btn-default" })
</p>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")