﻿@model Europe.Models.Course

@{
    ViewBag.Title = "CourseDetails";
}


<h2>@Html.DisplayFor(model => model.Title)</h2>
@Html.ActionLink("<-- Retour à la liste des cours", "Courses", null, new { @class = "navLink" })
<hr />

<div id="titleWithMenu" class="container">
    <div class="row flex">
        <div class="col-md-3 flex">
            <h3>Détails du cours</h3>
        </div>
        <div class="col-md-2 flex">
            <ul>
                <li><a class="navLink" href="@Url.Action("EditCourse", "Admin", new { id = Model.Id })"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li><a class="navLink" href="@Url.Action("DeleteCourse", "Admin", new { courseId = Model.Id })"><span class="glyphicon glyphicon-trash"></span></a></li>
            </ul>
        </div>
    </div>
</div>

<div id="viewBagAddCourse" class="viewBag">
    @ViewBag.AddCourse
</div>

@Html.HiddenFor(model => model.ImgId)

<div class="container">

    <div class="img150">
        <img class="img-circle maxW120" src="@Url.Action("Get", "Img", new { id = Model.ImgId })" />
    </div>

    <div class="bottomSep">
        <span style="white-space: pre-line">@Html.Raw(Model.Description)</span>
    </div>

    <span class="font-bold">@Html.DisplayNameFor(model => model.Level) : </span>@Html.DisplayFor(model => model.Level)

    <hr class="hr50" />

    @if (Model.Chapters.Count() == 0)
    {
        <section class="sectionContainer">
            <h4>Chapitres</h4>
            <p>Il n'y a aucun chapitre dans ce cours, ajoutez en...</p>
        </section>
    }
    else
    {
        <section class="sectionContainer">
            <h4>Chapitres</h4>
            <table id="chapterList" class="table table-responsive">
                <thead>
                    <tr class="ui-state-default">
                        <th>Ordre</th>
                        <th>Num</th>
                        <th>Titre</th>
                        <th>Logo</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Chapters)
                    {
                        <tr id="chapterOrder_@Html.DisplayFor(modelItem => item.Id)" class="ui-state-default">
                            <td><span class="glyphicon glyphicon-move"></span></td>
                            <td>@Html.DisplayFor(modelItem => item.Num)</td>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>
                                <div class="imgIconTable">
                                    <img class="img-circle" src="@Url.Action("Get", "Img", new { id = item.ImgId })" />
                                </div>
                            </td>
                            <td><a class="navLink" href="@Url.Action("ChapterDetails", "Admin", new { chapterId = item.Id, courseId = Model.Id })"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                            <td><a class="navLink" href="@Url.Action("EditChapter", "Admin",  new { chapterId = item.Id, courseId = Model.Id })"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td><a class="navLink" href="@Url.Action("DeleteChapter", "Admin", new { chapterId = item.Id, courseId = Model.Id })"><span class="glyphicon glyphicon-trash"></span></a></td>
                            <td>@Html.ActionLink("Ajouter une lesson", "AddLesson", new { chapterId = item.Id, courseId = Model.Id }, new { @class = "navLink" })</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div id="validateOrder" style="display:none">
                <input id="validateOrderBtn" type="submit" value="Valider le tri" class="btn btn-default" />
            </div>
            <div id="viewBagChaptersOrder" class="viewBag" style="display:none">
                <p>L'ordre des chapitres a été modifié</p>
            </div>
        </section>
    }

    @Html.ActionLink("Ajouter un chapitre", "AddChapter", new { courseId = Model.Id }, new { @class = "btn btn-default" })

    <hr class="hr50" />

    <section class="sectionContainer">
        <h4>Certificat</h4>
        <p>@Html.DisplayFor(model => model.Certificate.Title)</p>

        <div class="img150"><img class="img-circle maxW90" src="@Url.Action("Get", "Img", new { id = Model.Certificate.ImgId })" /></div>

        <p><span style="white-space: pre-line">@Html.DisplayFor(model => model.Certificate.Description)</span></p>

        @Html.ActionLink("Modifier le certificat", "EditCertificate", new { id = Model.CertificateId, courseId = Model.Id }, new { @class = "btn btn-default" })
    </section>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Scripts.Render("~/bundles/jqueryui")

<script type="text/javascript">

    $(document).ready(function () {

        // Gestion de l'affichage du viewbag s'il existe
        if ($("#viewBagAddCourse").text()) {
            $("#viewBagAddCourse").show();
            setTimeout(fade_out_viewBagAddCourse, 5000);
        }
        else {
            $("#viewBagAddCourse").hide();
        }

        $("#chapterList tbody").sortable({
            update: function (event, ui) {
                $("#validateOrder").show();
                $("#chapterList tbody").each(function () {
                    $(this).children().each(function (index) {
                        $(this).find('td:nth-child(2)').html(index + 1)
                    });
                });
            }
        });

        $(function () {
            $("#validateOrderBtn").click(function () {
                var idsInOrder = $("#chapterList tbody").sortable("toArray");
                $.ajax({
                    url: '/Admin/SortChapterList/',
                    data: JSON.stringify(idsInOrder),
                    type: 'post',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function () {
                        $("#validateOrderBtn").hide();
                        $("#viewBagChaptersOrder").show();
                        setTimeout(fade_out_viewbag, 5000);
                    }
                });
            });
        });
    });

    // Fonction liées aux ViewBag Display
    var fade_out_viewbag = function () {
        $("#viewBagChaptersOrder").fadeOut().hide();
    }

    var fade_out_viewBagAddCourse = function () {
        $("#viewBagAddCourse").fadeOut().empty();
    }
</script>


