﻿@model Europe.Models.Lesson

@{
    ViewBag.Title = "EditLesson";
}

<h2>@ViewBag.CourseTitle : Chapitre @ViewBag.ChapterNum</h2>
@Html.ActionLink("<-- Retour au chapitre", "ChapterDetails", new { chapterId = Model.ChapterId, courseId = Model.CourseId }, new { @class = "navLink" })
<hr />

<h3>Edition de la leçon @Html.DisplayFor(model => model.Num)</h3>

@using (Html.BeginForm("EditLesson", "Admin", FormMethod.Post, new { @class = "formX" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Num)
    @Html.HiddenFor(model => model.ChapterId)
    @Html.HiddenFor(model => model.CourseId)
    @Html.HiddenFor(model => model.Id)

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider" class="btn btn-default" />
            </div>
        </div>
    </div>
}

