﻿
@{
    ViewBag.Title = "Index";
}

<h2>Administration</h2>
<hr />

<h3>Gestion des images</h3>

@Html.ActionLink("Accéder à la page de gestion des images", "InsertorUpdateImg")

<h3>Gestion des cours</h3>

@Html.ActionLink("Accéder à la page de gestion des cours", "Courses")



