﻿@model Europe.Models.ImgUploadForm

@{
    ViewBag.Title = "UploadImg";
}

<h2>Administration</h2>
@Html.ActionLink("<-- Retour à l'administration", "Index")
<hr />

<h3>Gestion des images</h3>

@using (Html.BeginForm("InsertorUpdateImg", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formX" }))
{
    @Html.AntiForgeryToken()

<div id="adminImgUpload" class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsAdmin)

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Alt, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Alt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Alt, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Caption, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Caption, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Caption, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="SizeClient">Taille</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="Taille" name="Taille" type="text" value="">
                    </div>
                </div>

                <div class="form-group">
                    <div id="uploadImgArea" class="col-md-offset-2 col-md-10">
                        <input type="file" class="form-control-file" id="File" name="File" />
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="adminImgPreview">
                <p class="previewText">Prévisualisation</p>
                <div class="viewBag">
                    @ViewBag.SuccessUpload
                </div>
                <div id="imgArea" class="img150" style="display:none">
                    <img class="img-responsive" id="targetImg" />
                </div>
                <a href="#" onclick="ClearPreview()" style="display:none">Annuler</a>
            </div>
        </div>
    </div>
</div>
    <input type="submit" value="Valider" class="btn btn-default" />
}

@*@Ajax.ActionLink("Rafraichir", "GetAll", "Img", null,
    new AjaxOptions
    {
        UpdateTargetId= "AllImagesTable", // <-- DOM element ID to update
        InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
        HttpMethod = "GET" // <-- HTTP method
    })*@

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")

<br />
<br />

@Html.Action("GetAll", "Img")

<script>
    $(document).ready(function () {

        // Gestion de l'affichage du viewbag s'il existe
        if ($("#adminImgPreview").children(".viewBag").text()) {
            setTimeout(fade_out, 5000);
        $("#adminImgPreview").children(".viewBag").hide();
        }

        // Reset des champs du formulaire
        ClearImageDetails();

        // Upload d'une image
        $("#File").change(function () {
            var File = this.files;           // prop .files de <input> retourne un objet FileList (le uploadé) 
            if (File && File[0])
                ReadImage(File[0]);          // func ReadImage se lance sur le fichier ajouté en <input>
        })

    })

    // Fonctions
    // ----------------------------------------------------------------------------------

    // l'objet FileReader lit le contenu des objets File ou Blob (des données brutes) en async  
    var ReadImage = function (file) {       
        var reader = new FileReader;            
        var image = new Image;

        // lecture du contenu pour le blob
        // une fois terminée, l'attribut result contient une URL de données qui représente les données du fichier
        reader.readAsDataURL(file);          

        // la méthode onload contient un eventHandler exécuté quand du contenu est lu avec le reader
        reader.onload = function (e) {       
            if ($("#targetImg").attr("src")) {
                $("#targetImg").removeAttr('src');
            }

            // placement du contenu du fichier dans l'attribut src de l'object image
            image.src = e.target.result;            

            // quand l'image est chargée on la place dans le DOM
            image.onload = function () {            
                $("#targetImg").attr('src', image.src);
                var size = Math.round(file.size / 1024);
                $("#Taille").val(size);
                $("#imgArea").show();
                $("#adminImgPreview a").show();
            }
        }
    }

    function ClearImageDetails()
    {
        $("#Name").val("");
        $("#Title").val("");
        $("#Alt").val("");
        $("#Caption").val("");
        $("#IsAdmin").val("false");
        $("#Taille").val("");
    }

    // Quand l'admin modifie une img existante, les données sont récupérées en ajax et affichées pour éventuelle modification

    // ActionLink de la vue partielle _ImgAll qui est Ajaxifié 
    $("#updateExistingImg a").click(function (e) {
        e.preventDefault();
        $("#File").val('');
        $.ajax({
            url: this.href,
            type: 'GET',
            context: this,
            success: function (result) {
                $('#Id').val(result.Id);
                $("#Name").val(result.Name);
                $("#Title").val(result.Title);
                $("#Alt").val(result.Alt);
                $("#Caption").val(result.Caption);
                $("#IsAdmin").val(result.IsAdmin);
                $("#Taille").val(result.Size);
                $("#targetImg").attr('src', "@Url.Action("Get", "Img")/" + result.Id);
                $("#imgArea").show();
                $("#adminImgPreview a").show();

                // Position y du block Preview
                var y = $("#adminImgPreview").scrollTop();
                // Scroll vers le block + 150 pixels 
                $("html, body").animate({ scrollTop: y + 150 }, 600);
            }
        })
        return false;         // TODO : le return false semble faire fonctionner l'ajax dans le sens que la réponse n'ouvre pas une nouvelle fenêtre
    });

    // Fonction qui permet d'annuler le chargement d'une image et reset les valeurs du formulaire
    var ClearPreview = function () {
        $("#targetImg").removeAttr('src');
        $("#File").val('');
        $("#imgArea").hide();
        $("#adminImgPreview a").hide();
        $('#Id').val('');
        $("#Name").val('');
        $("#Title").val('');
        $("#Alt").val('');
        $("#Caption").val('');
        $("#IsAdmin").val('');
        $("#Taille").val('');
    };

    // Fonction Fade Out
    var fade_out = function () {
        $("#adminImgPreview").children(".viewBag").fadeOut().empty();
    }

</script>
