﻿@model Europe.Models.Lesson

@{
    ViewBag.Title = "LessonDetails";
}

<h2>@ViewBag.CourseTitle</h2>
@Html.ActionLink("<-- Retour au chapitre", "ChapterDetails", new { chapterId = Model.ChapterId, courseId = Model.CourseId }, new { @class = "navLink" })
<hr />

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.CourseId)

<div id="titleWithMenu" class="container">
    <div class="row flex">
        <div class="col-md-5 flex">
            <h3>Chapitre @ViewBag.ChapterNum - Leçon @Html.DisplayFor(model => model.Num)</h3>
        </div>
        <div class="col-md-2 flex">
            <ul>
                <li><a class="navLink" href="@Url.Action("EditLesson", "Admin", new { pageId = Model.Id, lessonId = Model.Id, courseId = Model.CourseId })"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li><a class="navLink" href="@Url.Action("DeleteLesson", "Admin", new { lessonId = Model.Id })"><span class="glyphicon glyphicon-trash"></span></a></li>
            </ul>
        </div>
    </div>
</div>

<div id="viewBagAddChapter" class="viewBag">
    @ViewBag.EditLesson
</div>


<div class="container">
    <p>@Html.DisplayFor(model => model.Title)</p>

    <hr class="hr50" />

    @if (Model.Pages.Count() == 0)
    {
        <section class="sectionContainer">
            <h4>Pages</h4>
            <p>Il n'y a aucune page dans cette leçon, ajoutez en...</p>
        </section>
    }
    else
    {
        <section class="sectionContainer">
            <h4>Pages</h4>

            <table id="pageList" class="table table-responsive">
                <thead>
                    <tr class="ui-state-default">
                        <th>Ordre</th>
                        <th>Num</th>
                        <th>Titre</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Pages)
                    {
                        <tr id="pageOrder_@Html.DisplayFor(modelItem => item.Id)" class="ui-state-default">
                            <td><span class="glyphicon glyphicon-move"></span></td>
                            <td>@Html.DisplayFor(modelItem => item.Num)</td>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td><a class="navLink" href="@Url.Action("PageDetails", "Admin", new { pageId = item.Id, lessonId = Model.Id, chapterId = Model.ChapterId, courseId = Model.CourseId })"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                            <td><a class="navLink" href="@Url.Action("EditPage", "Admin", new { pageId = item.Id, lessonId = Model.Id, chapterId = Model.ChapterId, courseId = Model.CourseId })"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td><a class="navLink" href="@Url.Action("DeletePage", "Admin", new { chapterId = item.Id, courseId = Model.Id })"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    }
                </tbody>
            </table>

            <div id="validateOrder" style="display:none">
                <input id="validateOrderBtn" type="submit" value="Valider le tri" class="btn btn-default" />
            </div>
            <div id="viewBagPagesOrder" class="viewBag" style="display:none">
                <p>L'ordre des pages a été modifié</p>
            </div>
        </section>
    }

    @Html.ActionLink("Ajouter une page", "AddPage", new { lessonId = Model.Id, chapterId = Model.ChapterId, courseId = @ViewBag.CourseId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Ajouter une page de Quizz", "AddQuizzPage", new { lessonId = Model.Id, chapterId = Model.ChapterId, courseId = @ViewBag.CourseId }, new { @class = "btn btn-default" })

</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Scripts.Render("~/bundles/jqueryui")

<script type="text/javascript">

    $(document).ready(function () {

        // Gestion de l'affichage du viewbag s'il existe
        if ($("#viewBagEditLesson").text()) {
            $("#viewBagEditLesson").show();
            setTimeout(fade_out_viewBagEditLesson, 5000);
        }
        else {
            $("#viewBagEditLesson").hide();
        }

        $("#pageList tbody").sortable({
            update: function (event, ui) {
                $("#validateOrder").show();
                $("#pageList tbody").each(function () {
                    $(this).children().each(function (index) {
                        $(this).find('td:nth-child(2)').html(index + 1)
                    });
                });
            }
        });

        $(function () {
            $("#validateOrderBtn").click(function () {
                var idsInOrder = $("#pageList tbody").sortable("toArray");
                var finalval = JSON.stringify(idsInOrder);
                console.log(finalval);
                $.ajax({
                    url: '/Admin/SortPageList/',
                    data: JSON.stringify(idsInOrder),
                    type: 'post',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function () {
                        $("#validateOrderBtn").hide();
                        $("#viewBagPagesOrder").show();
                        setTimeout(fade_out_viewbagLessonsOrder, 5000);
                    }
                });
            });
        });
    });

    // Fonction liées aux ViewBag Display
    var fade_out_viewbagLessonsOrder = function () {
        $("#viewBagPagesOrder").fadeOut().hide();
    }

    var fade_out_viewBagEditLesson = function () {
        $("#viewBagEditLesson").fadeOut().empty();
    }

</script>

