﻿@model Europe.Models.Page

@{
    ViewBag.Title = "PageDetails";
}

<h2>@ViewBag.CourseTitle</h2>
@Html.ActionLink("<-- Retour à la leçon", "ChapterDetails", new { chapterId = Model.ChapterId, courseId = @ViewBag.CourseId }, new { @class = "navLink" })
<hr />

<div id="titleWithMenu" class="container">
    <div class="row flex">
        <div class="col-md-5 flex">
            <h3>Chapitre @Html.DisplayFor(model => model.Num) - Leçon @ViewBag.LessonNum - Page @Html.DisplayFor(model => model.Num)</h3>
        </div>
        <div class="col-md-2 flex">
            <ul>
                <li><a class="navLink" href="@Url.Action("EditPage", "Admin", new { pageId = Model.Id, lessonId = Model.LessonId, chapterId = Model.ChapterId, courseId = @ViewBag.CourseId })"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li><a class="navLink" href="@Url.Action("DeleteChapter", "Admin", new { chapterId = Model.Id })"><span class="glyphicon glyphicon-trash"></span></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    @if (Model.IsQuizz)
    {
        <div class="pageContent">
            @Html.Raw(Model.Content)
        </div>
        foreach (var item in Model.QuizzFields)
        {
            <p>@item.Content</p>
        }
    }
    else
    {
        <p>@Html.DisplayFor(model => model.Title)</p>
        <div class="pageContent">
            @Html.Raw(Model.Content)
        </div>
    }
</div>