﻿@model Europe.Models.Customer

@{
    ViewBag.Title = "Customer";
}

<h2>Customer</h2>


<input type="text" id="txtName" value="@Model.Name"/>
<input type="button" id="btnGet" value="Get Current Time" />


@section Scripts {
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/jqueryval")
}