﻿@model Europe.Models.Customer

@{
    ViewBag.Title = "Test";
}


<h2>Test</h2>

@Ajax.ActionLink("Click", // <-- Text to display
                 "Customer", // <-- Action Method Name
                 new AjaxOptions
                 {
                     UpdateTargetId="CustomerList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })

<div id="CustomerList"></div>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}