﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hidden {
    display : none;
}

/* General Layout */

.flex {
    display: flex;
}

.flexCol {
    display: flex;
    flex-direction:column;
}

.navbar-inverse {
    background-color: #326AAB;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}


/* ADMIN */

#adminImgUpload {
    margin-bottom: 20px;
}

#adminImgPreview div.img150 {
    margin: 20px 0 0;
}

#adminImgPreview #targetImg {
    border-radius: 50%;
    background-color: #9F9FA1;
}

#adminImgCont {
    flex-wrap: wrap;
}


.adminImgItem {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: 1px solid grey;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 122px;
}

#updateExistingImg {
    align-items: center;
    max-width: 120px;
}

#updateExistingImg img {
    background-color: #9f9fa1;
}

#adminChapterDetails img {
    background-color: #9F9FA1;
}





/* HOME */
/* COURSES */
/* Index*/
#courses .container {
    flex-wrap: wrap;
}

#coursesItemsContainer {
    flex-wrap: wrap;
}

.courseItem {
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    margin-bottom: 15px;
    margin: 7px;
    padding: 10px;
    /*flex-wrap:wrap;*/
}

.homeAvatarCourse {
    display: flex;
    flex-wrap: nowrap;
}

#courseItemImgCont img {
    min-width: 75px;
    max-width: 95px;
    margin-right: 15px;
}

#homeCoursesDetails h3 {
    font-size: 21px;
}

#homeCoursesDetails p {
    font-size:14px;
    margin-bottom: 10px;
}

#courseCTA btn.btn-default {
    width: 120px;
    float:right;
}

#courseCTA {
    padding: 5px 5px 10px 0;
    text-align: right;
}

#homeCoursesStats {
    border-top: 1px solid grey;
}

#homeCoursesStats ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

#homeCoursesStats li {
    display: inline-block;
    width: 30%;
}

/* CourseDetail*/
.courseDetailCourseItem {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#courseDetailCourseAvatar img{
    max-width: 120px;
    min-width: 90px;
}

.courseDetailChapterTitle {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 15px;
}

.courseDetailLessonTitle {
    margin-left:10px;
}

@media (min-width: 768px) {
    body #courses .col-md-6 {
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@media (min-width: 992px) {
    #courses .col-md-6 {
        width: 40%;
    }
}

@media (min-width: 768px) {
    .courseDetailCourseItem {
        flex-wrap: nowrap;
    }
}

/* STUDENT */

/* Student Courses */
#avatar {
    width: 150px;
}

#updateStudentForm .img150 {
    margin: 20px 0 0;
}

.deleteAvatar, #resetAvatar {
    text-align: center;
    display: block;
    margin-top: 10px;
}

#changeAvatarArea {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#studentBadges img.img-round {
    background-color: #fff;
}

#studentCourses {
    margin-left: 1em;
}

.courseContainer {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    align-items: center;
}

#studentCoursesImg {
    display: flex;
    width: 60px;
    margin-bottom: 0.5em;
}

#studentCoursesImg a {
    display: block;
    text-align: center;
}

#studentCoursesImg img {
    width: 60px;
}

#studentBadges img {
    background-color: #BDBDBD;
}

@media (min-width: 425px) {
    #studentCourses {
        margin-left: 5em;
    }
}

@media (min-width: 320px) {

    #studentCoursesImg {
        width: 80px;
    }

        #studentCoursesImg img {
            width: 80px;
        }
}

/* Learn */
#LearnCourseHeader {
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

#coursePrimaryTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#courseSecondaryTitle {
    padding-left: 15px;
    padding-right: 15px;
}

.titlesCont {
    flex-direction: column;
    flex: 2 0 0;
}

.titlesCont a:hover {
    text-decoration:none;
}

.titlesCont a {
    color: #333;
    text-decoration: none;
}

#ChapterTitlewithImage {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

#ChapterTitlewithImage img {
    width: 80%;
    background-color: #BDBDBD;
}


.titlesCont h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.titlesCont h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

.learnCourseTitle {
    flex-direction: column;
    margin-right: 20px;
    flex: 2 0 0;
}

.learnCourseTitle h2 {
    margin:0;
}

.points {
    margin-right: 20px;
    display:none;
}

.pointsCircle {
    height: 50px;
    width: 50px;
    background-color: #337ab7;
    border-radius: 50%;
}

.circle-content {
    color: #fff;
    float: left;
    line-height: 1;
    margin-top: -0.5em;
    padding-top: 50%;
    text-align: center;
    width: 100%;
}

#LearnContent {
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 0 5%;
}

.Lessonitems a {
    flex-direction: column;
    align-items: center;
    width: 120px;
    display: flex;
    text-align: center;
}

.ChaptersContent a {
    flex-direction: column;
    align-items: center;
    width: 120px;
    display: flex;
    text-align: center;
}

#lessonsList li {
    display:block;
}

.Lessonitems {
    flex: 0 0 0;
    margin: 10px;
}

.Lessonitems img {
    width: 80%;
}

#LessonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ChaptersContent {
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}

.ChaptersContent img {
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    background-color: #9F9FA1;
}

@media (min-width: 360px) {
    #LearnCourseHeader {
        padding-left: 15px;
        padding-right: 15px;
        width: 80%;
    }
}

@media (min-width: 420px) {
    .points {
        margin-right: 20px;
        display: block;
    }
}


/* TOPLEARNERS */
#topLearnersMenuImg {
    justify-content:center;
    align-items:center;
}

.TopLearnerRow {
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.TopLearnerRow div:first-child {
    text-align: center;
}

.TopLearnerRow div:nth-child(3) {
    width:100%;
}

.TopLearnerCurrentStudent {
    background-color: lightblue;
}

/* NAVIGATION */
.navLink {
    color: #4DA28B;
}

#titleWithMenu .row {
    margin-bottom: 10px;
}

/*.row div {
    align-items: center;
}*/

/*.row div:first-child {
    padding-left: 0;
}*/

#titleWithMenu h3 {
    margin: 0;
}

#titleWithMenu ul, #lessonMenu ul {
    list-style: none;
    padding: 0;
}

#titleWithMenu li, #lessonMenu li{
    display: inline-block;
    margin: 0;
    padding-right: 15px;
}

#chapters ul {
    list-style: none;
    margin: 0;
    list-style-type: none;
    display: block;
}

#lessonsList a {
    display: inline;

}
/* Sections */
.sectionContainer {
    margin: 20px 0 20px;
}

/* Separations */
.hr50 {
    width: 50%;
    margin-left: 0;
}

.bottomSep {
    margin-bottom:20px;
}

.navLink:hover {
    color: #017A59;
}

/* Fonts */
.font-bold {
    font-weight: bold;
}

/* Table */
#courseListTab tbody tr th {
    border-top: none;
}

#chapterList, #lessonList {
    width: auto;
}

#chapterList td, #courseListTab td {
    vertical-align: middle;
}

#changePwdLink {
    cursor: pointer;
}

/* Forms */
.formX {
    margin-top:30px;
}

/* Image */

.maxW90 {
    max-width: 90px;
}

.maxW120 {
    max-width:120px;
}

#imgArea {
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

#uploadImgArea {
    padding-left: 15px;
}

.img150 {
    width: 150px;
    margin: 20px 0 20px;
}

.img120 {
    width: 120px;
    margin: 20px 0 20px;
}

.imgCont60 {
    width: 60px;
    margin-right: 1em;
}

.imgIconTable {
    width: 50px;
    height: 50px;
}

.imgIconTable img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #BDBDBD;
}

#existingImgArea img {
    width: 250px;
    height: 250px;
}

.img-round {
    width: 80%;
    background-color: #BDBDBD;
}

#imgAreaTab {
    width: 75px;
    height: 75px;
}

.previewText {
    font-size:1.2em;
    text-decoration:underline;
}

.viewBag {
    color: #4DA28B;
    font-size: 1em;
}



/*BOOTSTRAP OVERRIDES*/
hr {
    border-top: 1px solid #326aab;
    opacity: 0.2;
}

.btn-default {
    color: #fff;
    background-color: #4DA28B;
    border-color: #fff;
}

.btn-default:focus,
.btn-default.focus {
    color: #fff;
    background-color: #017A59;
    border-color: #fff;
}

.btn-default:hover {
    color: #fff;
    background-color: #017A59;
    border-color: #fff;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left;
    }
}



