﻿@model Europe.Models.ChangePwd

@{
    Layout = null;
}

<div class="form-group">
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.CurrentPwd, htmlAttributes: new { placeholder = "Ton mot de passe actuel", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CurrentPwd, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.NewPwd, htmlAttributes: new { placeholder = "Ton nouveau mot de passe", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NewPwd, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.ConfirmPwd, htmlAttributes: new { placeholder = "Confirme ton nouveau mot de passe", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmPwd, "", new { @class = "text-danger" })
    </div>
</div>