﻿@model Europe.Models.Img

@*<div id="avatarArea">*@
    <img id="avatar" src="@Url.Action("Get", "Img", new { id = Model.Id})"
         alt="@Html.DisplayFor(model => model.Alt)"
         title="@Html.DisplayFor(model => model.Title)"
         name="@Html.DisplayFor(model => model.Name)"
         size="@Html.DisplayFor(model => model.Size)"/>
@*</div>*@


@*<div id="avatarStudent">
        <div>
            <img src="@Url.Action("Get", "Img", new { id = Model.Id})"
                 title="@Html.DisplayFor(model => model.Title)"
                 alt="@Html.DisplayFor(model => model.Alt)"
                 name="@Html.DisplayFor(model => model.Name)" />
        </div>
    </div>*@

@*<div id="avatarStudent"
         style="background-image: url('@Url.Action("Get", "Img", new { id = Model.Id })'); background-size: 180px 180px; background-position: 0px 0px; background-repeat: no-repeat;"
         title="@Html.DisplayFor(model => model.Title)"
         alt="@Html.DisplayFor(model => model.Alt)"
         name="@Html.DisplayFor(model => model.Name)">
    </div>*@

@*<div class="imageDiv" style="background-image: url('@Url.Action("Get", "Img", new { id = Model.ImgId })');
             background-size: 180px 180px; background-position: 0px 0px; background-repeat: no-repeat;">
    </div>*@








