﻿<!DOCTYPE html>
<html lang="fr-be">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Europe &amp; Un</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Europe & Un", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Cours", "Index", "Course")</li>
                    <li>@Html.ActionLink("Classement", "Index", "TopLearners")</li>
                    @if (Europe.Utils.UserSession.User != null)
                    {
                        if (Europe.Utils.UserSession.User.RoleType == 2)
                        {
                            <li>@Html.ActionLink("Profil", "Get", "Student", new { id = Europe.Utils.UserSession.User.StudentId }, null)</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Profil", "Get", "Association", new { id = Europe.Utils.UserSession.User.AssoId }, null)</li>
                        }
                        <li>@Html.ActionLink("Déconnexion", "Disconnect", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Connexion", "Login", "Account")</li>
                    }
                    <li>@Html.ActionLink("À propos de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Europe &amp; Un</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Custom")
    @RenderSection("scripts", required: false)
</body>
</html>
