﻿@using Europe.Custom_Helpers
@model IEnumerable<Europe.Models.Img>

<div id="adminImgCont" class="flex">
    @foreach (var item in Model)
    {
    <div class="flexCol adminImgItem">
        <div id="updateExistingImg" class="flexCol">
            @*<img class="img-circle" alt="@Html.DisplayFor(modelItem => item.Name) "src="@Url.Action("Get", "Img", new { id = item.Id })" />*@
            @Html.ImageActionLink(
            string.Format("{0}", @Url.Action("Get", "Img", new { id = item.Id })), // imageUrl
            "GetImgJson",                                                          // actionName
            "Img",                                                                 // controller
            new { imgId = item.Id },                                               // routeValues
            new { @class = "img120 img-circle text-center" },                      // HtmlAttributes
            null,                                                                  // alt
            item.Name,                                                             // imgTitle
            null                                                                   /*stringTitle */
            )
        </div>
    </div>
    }
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Format)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caption)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
            <td id="updateExistingImg">
                @Html.ActionLink("Modifier", "GetImgJson", "Img", new { imgId = item.Id }, null)
            </td>
        </tr>
    }
</table>*@

