﻿@model Europe.Models.UserLogin

@{
    ViewBag.Title = "Login";
}

<h2>Connexion</h2>
<hr />

@using (Html.BeginForm("Login", "Account", new { returnUrl = Request.QueryString["returnUrl"]}))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Pwd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Pwd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pwd, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="submit" value="Valider" class="btn btn-default" />
</div>
}
<br />
<br />
<div>
    Pas encore de compte? @Html.ActionLink("Inscris toi", "Add", "Account", null, new { @class = "btn btn-default" })
</div>

@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")*@